[Unit]
Description=Service Name
After=network.target

[Service]
User=root
Group=root
ExecStart="command start"
WorkingDirectory=DIR_PATH
Environment="Var=varable"
ExecStartPre=/bin/sleep 15

[Install]
WantedBy=multi-user.target
